<section class="projects-container">
  <div 
    *ngFor="let project of projects" 
    class="projects" 
    [class.hidden]="isProjectHidden(project)" 
    (click)="setSelectedProject(project)"
  >
    <section>
      <img
          *ngIf="project.image"
          [src]="'../../assets/images/' + project.image"
          alt="Image of {{ project.title }}"
          id="project-image"
        />
    </section>
    <footer id="footer-container">
      <a href="/projects/{{ project?.slug }}">
        <h3>{{ project.title }}</h3>
      </a>
      <p *ngIf="project.category" id="categories" >
        Category: 
        <a [href]="'/projects/categories/' + project.category.slug">
          {{ project.category.name }}
        </a>
      </p>
      <p *ngIf="project.tags" id="tags">
        Tags:
        <span *ngFor="let tag of project.tags; let last = last" (click)="setTagFilter(tag)">
          <a [href]="'/projects/tags/' + tag.slug">
            {{ tag.name }}{{ !last ? ', ' : '' }}
          </a>
        </span>
      </p>
    </footer>
  </div>
</section>
