.projects {
    position: relative;
    &.hidden {
        display: none;
    }
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: darkcyan;
}
#categories, #tags {
    margin: 0;
    padding: 5px 10px;
    color: black;
    font-weight: 600;
}
#project-image {
    background-size: contain;
    border-bottom: 0.5px solid grey;
}
.projects {
    background-color: white;
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.5);
    height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 0.8rem;
}
#laptop-container {
    padding: 60px 0;
    width: 100%;
    background-color: rgb(204 196 186);
}
#project-title {
    font-size: 1.3rem;
}
.projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
}
.project-filters {
    color: rgb(106, 105, 105);
    font-weight: 400;
}
#filter-projects-section {
    display: flex;
}
#name-container > h1{
    margin: 20px 40px;
}
#name-container {
    display: flex;
    align-items: center;
}
#home-button {
    margin-left: 40px;
    padding-top: 40px;
    font-size: 1.3rem;
}
.project-overlay {
    position: absolute;
    top: 0;
    right: -100%; 
    width: 100%;
    height: 70%;
    background-color: rgba(204, 196, 186, 1);
    opacity: 0;
    transition: right 0.5s ease;
    display: flex;
    align-items: center;
    padding: 25px;
    font-size: 1.05rem;
  }
  
.projects:hover .project-overlay {
opacity: 1;
z-index: 2;
right: 0;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    margin-left: 20px;
    background-color: rgb(40, 40, 40);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger {
    display: block;
    width: 50px;
    margin-left: 20px;
  
    &.active {
        .bar {
            &:nth-child(2) {
                opacity: 0;
            }
  
            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
  
            &:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
  }
  @media(min-width: 375px) {
    .projects-container {
        margin-left: 30px;
    }
  }
  @media(min-width: 425px) {
    .projects {
        margin: 40px 70px;
    }
    .projects-container {
        margin-left:0;
    }
  }
  @media(min-width: 768px) {
    .hamburger {
        display: none;
    }
    .projects-container {
        justify-content: center;
        margin-left: 40px;
    }
    .projects {
        margin: 40px 0;
        width: 420px;
        height: 456px;
    }
    #project-title {
        font-size: 1.5rem;
    }
    #footer-container{
        font-size: 1rem;
    }
    #categories, #tags {
        padding: 0;
        margin-bottom: 10px;
    }
  }
  @media(min-width: 1024px) {
    .projects-container {
        margin-left: 160px;
    }
  }
  @media(min-width: 1440px) {
    .projects-container {
        grid-template-columns: 1fr 1fr;
        margin-left: 80px;
    }
    .projects {
        margin: 40px 60px;
    }
  }