main {
    display: flex;
    flex-direction: row;
    //flex: 1;
    padding: 15px;
}


.categories, .tags {
    font-size: 0.8em;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Make sure the body takes up the full height of the viewport */
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the wrapper takes up at least the full height of the viewport */
  }
  
  
  footer {
    background-color: #d6e5f3; /* Add your desired background color */
    padding: 10px;
    text-align: right;
    position: sticky;
    bottom: 0;
  }

header {
    padding-top: 15px;
    padding-left: 15px;
}
.filter {
    // margin-top: 15px;
    margin-bottom: 15px;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding: 15px;
    padding-right: 90px;
    height: 580px
}

#categories, #tags {
    font-size: 0.8em;
}

#categories {
    cursor: pointer;
    text-decoration: underline; /* Underline the text to indicate clickable */
  }
  
  #categories:hover {
    text-decoration: none; /* Remove underline on hover*/
  }

.projects {
    padding: 20px;
}
#filter-buttons {
    margin-left: 10px;
}
#filter--tags-buttons {
    margin-left: 10px;
    margin-top: 10px;
}
#clear-button {
    margin-top: 10px;
}
body {
  background-color: #f7f7f7;
}
.nav-heading {
  font-weight: 600;
  font-size: 1.3em;
  padding: 0.5rem 0;
  margin: 0;
}
#clear-button {
  border: none;
  background-color:#f7f7f7 ;
  padding-bottom: 10px;
}
#current-filter {
  display: flex;
  align-items: center;
}
#filter-div {
  font-weight: 600;
}