<body>
  <div class="wrapper">
    <header>
      <h1>{{ author }}</h1>
    </header>
    <main>
      <section class="filter">
        <div class="filters-section">
          <div class="categories">
            <p class="nav-heading">CATEGORIES:</p>
            <app-category
              [categoryFilter]="categoryFilter"
              (newCategoryFilterEvent)="setCategoryFilter($event)"
            ></app-category>
          </div>
          <div class="tags">
            <p class="nav-heading">TAGS:</p>
            <app-tag
              [tagFilter]="tagFilter"
              (newTagFilterEvent)="setTagFilter($event)"
            ></app-tag>
          </div>
          <!-- <div *ngIf="categoryFilter || tagFilter">
            {{ categoryFilter?.name || tagFilter?.name }}:
            <button (click)="clearFilters()" class="btn btn-danger" id="clear-button">Clear</button>
          </div> -->
          <div id="current-filter">
            <div id="filter-div">Filter:</div>
            <a href="/projects">
              <button id="clear-button"><i class="bi bi-trash3"></i></button>
            </a>  
          </div>
        </div>
      </section>
      <router-outlet></router-outlet>
    </main>
    <footer>&copy; {{ author }} - {{ date.getFullYear() }}</footer>
  </div>
</body>