.filter {
    margin-bottom: 15px;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding: 15px;
    padding-right: 90px;
    height: 590px;
    overflow-y: auto;
    margin: 40px;
}
#clear-button {
    border: none;
    background-color:#f7f7f7 ;    
  }
  #current-filter {
    display: flex;
    align-items: center;
    position: absolute;
  }
  #filter-div {
    font-weight: 600;
    padding: 0.5rem 0;
    white-space: nowrap;
  }
  .nav-heading {
    font-weight: 600;
    font-size: 1.1em;
    padding: 0.5rem 0;
    margin: 0;
}
#current-filter-span {
    font-weight: 400;
    color: rgb(106, 105, 105);
    padding: 0 5px;
    width: 100px;
}
.categories {
  padding-top: 35px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  margin-left: 20px;
  background-color: rgb(40, 40, 40);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Transition that turns the 3 span lines into an x */
.hamburger {
  display: block;

  &.active {
      .bar {
          &:nth-child(2) {
              opacity: 0;
          }

          &:nth-child(1) {
              transform: translateY(8px) rotate(45deg);
          }

          &:nth-child(3) {
              transform: translateY(-8px) rotate(-45deg);
          }
      }
  }
}
.filter {
  position: absolute;
  left: -100%;
  z-index: 10;
  background-color: #f7f7f7;
  // top: 15px;
  // height: 74rem;
  // gap: 0;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
  // align-items: flex-start;
  // z-index: 1000;
  // text-align: center;
  transition: 0.5s;
  margin-left: 40px;
  // margin-top: 40px;

  &.active {
      //margin-top: 40px;
      left: 0;
      //background-color: white;
  }}

  @media(min-width: 768px) {
    .filter {
      left: 0;
      position: relative;
    }
  }