.filter {
    margin-bottom: 15px;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding: 15px;
    padding-right: 90px;
    height: 590px;
    overflow-y: auto;
    margin: 40px;
}
#clear-button {
    border: none;
    background-color:#f7f7f7 ;    
  }
  #current-filter {
    display: flex;
    align-items: center;
  }
  #filter-div {
    font-weight: 600;
    padding: 0.5rem 0;
    white-space: nowrap;
  }
  .nav-heading {
    font-weight: 600;
    font-size: 1.1em;
    padding: 0.5rem 0;
    margin: 0;
}
#current-filter-span {
    font-weight: 400;
    color: rgb(106, 105, 105);
    padding: 0 5px;
}