<section id="banner-wrapper">
    <div class="banner-container">
        <img
          src="../assets/images/banner-img.jpg"
          alt="Banner image"
          id="banner-img"
        >
    </div>
    <div id="banner-info">
        <h1 id="banner-title">{{ author }}</h1>
        <div id="button-container">
          <a href="https://github.com/sydsnow" target="_blank" rel="noopener noreferrer">
            <button><i class="bi bi-github"></i> Github</button>
          </a>
          <a href="www.linkedin.com/in/sydnee-snowball-167661201" target="_blank" rel="noopener noreferrer">
            <button><i class="bi bi-linkedin"></i> LinkedIn</button>  
          </a>
          <a href="/projects">
            <button>Portfolio</button>
          </a>
        </div>
    </div>
</section>