<article *ngIf="project" class="project-detail-container">
  <header>
    <button type="button" (click)="goBack()">Back</button>
  </header>
  <section>
    <h2>{{ project.title | uppercase }}</h2>
    <div>{{ project.excerpt }}</div>
  </section>
  <footer>
    <div *ngIf="project.category">
      Category: <span>{{ project.category.name }}</span>
    </div>
    <div *ngIf="project.tags?.length">
      Tags:
      <span  *ngFor="let tag of project.tags; let last = last">
        {{ tag.name }}{{ !last ? ', ' : '' }}
      </span>
    </div>
    <div>
     Github: <a href="{{project.github}}">{{ project.github }}</a>
    </div>
    <div *ngIf="project.url">
      url: <a href="{{ project.url }}">{{ project.url }}</a>
    </div>
  </footer>
</article>